#shop {
  position: absolute;
  top: 0px;
  right: 0;
  bottom: 0px;
  left: 0;
  background: url("../images/popup/wood-rough.png") top center;
  -webkit-border-image: url("../images/popup/bar.png") 16 0 16 0 repeat;
  border-top-width: 16px;
  border-right-width: 0px;
  border-bottom-width: 16px;
  border-left-width: 0px;
  color: #fff;
  z-index: 6000;
  display: block;
  opacity: 0;
  -webkit-transform: scale(0, 0);
  -webkit-transform-origin: 80% 100%;
  -webkit-transition: opacity 0.4s, -webkit-transform 0.4s;
}
#shop.active {
  opacity: 1;
  -webkit-transform: scale(1, 1);
}
#shop div.head {
  position: relative;
  background: url("../images/popup/shop_ribbon-nodiamonds.png") no-repeat;
  width: 456px;
  height: 76px;
  margin: 14px auto 10px;
  left: -46px;
  /* to compensate for cancel button */

}
#shop div.head h1 {
  position: absolute;
  text-align: center;
  text-transform: capitalize;
  width: 260px;
  right: 10px;
  font: 40px/76px 'Luckiest Guy', sans-serif;
}
#shop div.head div.diamonds {
  display: none;
}
#shop div.head button.cancel {
  position: absolute;
  left: 100%;
  top: -4px;
  width: 92px;
  height: 92px;
  background: url("../images/popup/close_button.png") no-repeat 0 0;
  -webkit-appearance: none;
  margin: 0;
  border: 0;
  padding: 0;
}
#shop div.head button.cancel:active {
  background-position: -92px 0;
}
#shop div.departments_list_wrapper {
  padding: 0 30px;
}
#shop ul.departments_list {
  height: 64px;
  -webkit-box-shadow: 0 2px 3px #764d21, 0 2px 7px #ffffbe inset;
  height: 32px;
  display: table;
  width: 100%;
  -webkit-background-clip: padding-box;
  border: 4px solid #804817;
  border-radius: 14px;
  background: url("../images/popup/wood-rough.png") center -700px;
}
#shop ul.departments_list li {
  font: bold 36px/50px 'Bubblegum Sans', sans-serif, sans-serif;
  text-transform: capitalize;
  display: table-cell;
}
#shop ul.departments_list li a {
  color: #2f0101;
  font-family: 'Bubblegum Sans', sans-serif;
  font-weight: bold;
  text-shadow: 0 1px 1px #ffffbe;
  text-decoration: none;
  border-right: 2px solid #411d05;
  border-left: 2px solid #a9793a;
  display: block;
  height: 100%;
  text-align: center;
  line-height: 64px;
}
#shop ul.departments_list li a.active {
  color: #ffe400;
  pointer-events: auto;
  opacity: 1;
}
#shop ul.departments_list li a:active {
  background-color: rgba(49, 25, 0, 0.5);
}
#shop ul.departments_list li:first-child a {
  border-left: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
#shop ul.departments_list li:last-child a {
  border-right: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
#shop .departments {
  position: absolute;
  top: 192px;
  bottom: 0px;
  left: 30px;
  right: 30px;
  overflow: hidden;
  background: transparent;
  -webkit-tap-higlight: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
#shop hr {
  border: none;
  border-radius: 4px;
  padding: 0;
  margin: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 32000;
  height: 16px;
  background: url("../images/popup/bar.png") repeat-x;
  -webkit-background-size: 100%;
}
#shop .department {
  display: none;
  -webkit-tap-higlight: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
}
#shop .department.active {
  display: block;
}
#shop .department.population-maxed {
  display: none;
}
#shop .department li {
  height: 220px;
  margin-left: 0px;
  margin-right: 0px!important;
  -webkit-transform: translate3d(0, 0, 0);
}
#shop .department li .image {
  float: left;
  width: 144px;
  height: 100%;
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
}
#shop .department li .image img {
  height: 120px;
  display: block;
}
#shop .department li .specification {
  height: 132px;
  margin: 10px 10px 10px 160px;
}
#shop .department li .specification h6 {
  margin: 0;
  padding: 0;
  font: normal 36px/56px 'Luckiest Guy', sans-serif;
  display: block;
  letter-spacing: 0;
  text-align: center;
}
#shop .department li .house .population {
  position: absolute;
  font: normal 28px/30px 'Luckiest Guy', sans-serif;
  width: 140px;
  margin: 155px 0 0 -160px;
  text-align: center;
}
#shop .department li .house .population i {
  background: url(../images/status/population.png) no-repeat right;
  background-size: contain;
  width: 30px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
}
#shop .department li.population-maxed .population {
  color: red;
}
#shop .department li.unaffordable, #shop .department li.population-maxed, #shop .department li.unalevelable {
  background: #f4c555;
}
#shop .department li.unaffordable .embossed,
#shop .department li.population-maxed .button,
#shop .department li.population-maxed .embossed,
#shop .department li.unalevelable .button,
#shop .department li.unalevelable .embossed {
  display: none;
}
#shop .department li.unaffordable .button {
  background-color: brown;
  border-color: brown;
  margin-top: 80px;
}
#shop .department li.unaffordable:before, #shop .department li.population-maxed:before, #shop .department li.unalevelable:before {
  font: normal 48px/220px 'Bubblegum Sans', sans-serif;
  text-align: center;
  color: #a7610c;
  position: absolute;
  width: 100%;
  text-indent: 120px;
}
#shop .department li.unaffordable:before {
  content: "Can not afford!";
  /*"*/

}
#shop .department li.unalevelable:before, #shop .department li.population-maxed:before {
  content: attr(title);
}
#shop .department .goldCost {
  margin: 20px 10px 0 0;
  padding-top: 12px;
}
#shop .department .contract + .goldCost {
  margin: -24px 30px 0 20px;
}
#shop .department .contract {
  margin-right: 5px;
}
#shop .department .contract span {
  display: inline-block;
  background-repeat: no-repeat;
  line-height: 60px;
  font-size: 36px;
}
#shop .department .contract .hint {
  font-size: 32px;
  opacity: .8;
}
#shop .department .contract .Food {
  background-image: url(../images/popup/food.png);
  padding-left: 66px;
}
#shop .department .contract .Time {
  text-align: center;
  background: url(../images/popup/arrow.png);
  width: 88px;
  margin: 0 10px;
  font: normal 24px/44px 'Bubblegum Sans', sans-serif;
}
#shop .department .contract .Gold {
  background-image: url(../images/status/coins-small.png);
  background-position: 0 center;
  padding-left: 40px;
}
#shop .department .contract .Area {
  background-image: url(../images/popup/boost.png);
  padding-left: 66px;
}
#shop #upgrade-castle {
  color: #422806;
  text-align: center;
  display: none;
  left: 32px;
  right: 32px;
}
#shop #upgrade-castle h6 {
  margin: 100px 0;
  font: normal 50px/44px 'Luckiest Guy', sans-serif;
  text-shadow: 0 2px 0px #ffdc87;
}
#shop #upgrade-castle small {
  display: block;
  font-size: 30px;
}
#shop.locked ul.departments_list li a {
  pointer-events: none;
  opacity: 0.5;
}
/* iPad Version */
.ipad #shop {
  -webkit-transform: scale(1, 1) translatey(400px);
  top: auto;
  display: none;
  -webkit-border-image: url("../images/popup/metal-border.jpg") 50 0 50 0 stretch;
  border-top-width: 40px;
  height: 320px;
}
.ipad #shop.active {
  display: block;
  -webkit-transform: scale(1, 1) translatey(0);
}
.ipad #shop div.head {
  position: absolute;
  margin: -40px 0 0 50px;
  width: 90%;
  background: none;
  text-align: left;
}
.ipad #shop div.head div.gold {
  background: url(../images/popup/ribbon.png) no-repeat;
  width: 200px;
  height: 63px;
  text-align: center;
  font-size: 16px;
  line-height: 58px;
  margin: -15px 0 0 20px;
  text-indent: -50px;
}
.ipad #shop div.head h1 {
  position: static;
  width: 209px;
  height: 48px;
  margin-top: -20px;
  padding: 0;
  line-height: 40px;
  text-align: center;
  background-image: url(../images/popup/h2.png);
  font-size: 20px;
}
.ipad #shop div.head button.cancel {
  position: absolute;
  left: none;
  right: 50px!important;
  margin: -20px 0 0 -30px;
}
.ipad #shop hr {
  display: none;
}
.ipad #shop div.departments_list_wrapper {
  padding: 0;
}
.ipad #shop ul.departments_list {
  width: auto!important;
  margin: -50px 0 0 265px !important;
  border-width: 1px;
  position: absolute;
}
.ipad #shop ul.departments_list li {
  font-size: 18px;
  text-shadow: 0 1px 0 #fff;
}
.ipad #shop ul.departments_list li a {
  padding: 5px 30px 5px 30px;
  line-height: 48px;
  border-left-width: 1px;
  border-right-width: 1px;
}
.ipad #shop ul.departments_list li:first-child a {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.ipad #shop ul.departments_list li:last-child a {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.ipad #shop .departments {
  left: 0;
  right: 0;
  top: 40px;
  overflow: hidden;
}
.ipad #shop .departments .department {
  display: none;
  padding: 0 20px;
  position: absolute;
  width: auto;
  border-spacing: 3px;
}
.ipad #shop .departments .department.active {
  display: table;
}
.ipad #shop .departments .department.population-maxed {
  display: none;
}
.ipad #shop .departments .department li {
  display: table-cell;
  min-width: 220px;
  max-width: 220px;
  height: 250px;
  background-size: 100% 100%;
}
.ipad #shop .departments .department li.unaffordable:before, .ipad #shop .departments .department li.population-maxed:before, .ipad #shop .departments .department li.unalevelable:before {
  font: normal 16px/16px 'Bubblegum Sans', sans-serif;
  text-indent: 0;
  margin-top: 200px;
}
.ipad #shop .departments .department li .image {
  float: none;
  text-align: center;
  width: 100%;
  height: 90px;
  position: absolute;
  margin-top: 50px;
}
.ipad #shop .departments .department li .image img {
  margin: 0 auto;
  max-height: 70px;
  height: auto;
}
.ipad #shop .departments .department li .population {
  font: normal 14px/15px 'Luckiest Guy', sans-serif;
  width: 190px;
  margin: 120px 0 0 0;
}
.ipad #shop .departments .department li .population i {
  width: 25px;
  height: 25px;
}
.ipad #shop .departments .department li div.specification {
  margin: 5px 10px;
}
.ipad #shop .departments .department li div.specification h6 {
  margin: 0px 0 90px;
  font-size: 25px;
  line-height: 22px;
  height: 50px;
  vertical-align: middle;
  line-height: 21px;
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
}
.ipad #shop .departments .department li div.specification .embossed {
  padding: 10px 0 15px;
}
.ipad #shop .departments .department li .button {
  padding: 7px 0;
  margin-top: -10px;
}
.ipad #shop .departments .department li .contract span {
  line-height: 30px;
  font-size: 18px;
}
.ipad #shop .departments .department li .contract .hint {
  font-size: 16px;
}
.ipad #shop .departments .department li .contract .Food {
  background-image: url(../images/popup/food-small.png);
  padding-left: 33px;
}
.ipad #shop .departments .department li .contract .Time {
  background: url(../images/popup/arrow.png);
  width: 44px;
  margin: 0 5px;
  font: normal 14px/24px 'Bubblegum Sans', sans-serif;
}
.ipad #shop .departments .department li .contract .Gold {
  background-image: url(../images/status/coins-small.png);
  background-size: contain;
  padding-left: 30px;
}
.ipad #shop .departments .department li .contract .Area {
  background-image: url(../images/popup/boost.png);
  padding-left: 33px;
}
.ipad #shop #upgrade-castle h6 {
  margin: 40px 0 50px;
}
