<div id="requests" class="page">
    <div class="head">
        <h1>Requests</h1>
        <button class="cancel"></button>
    </div>

        <ul class="requiredItems">
            <li class="item panel hidden">
                <div class="image"><img src="" alt="" /></div>
                <div class="specification">
                    <div class="embossed">
                        <p><strong></strong></p>
                    </div>
                    <button class="button accept">Accept</button><button class="button deny">&times;</button>
                </div>
            </li>
        </ul>

    <div class="checkout">
        <button class="disable ok">Okay</button>
    </div>
</div>
